<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/favicon.png" />
</head>
  <body>
    <div class="centerthis" >
	
	<h1 class="nameattop">Michael Cooper</h1>
    
	
	<ul class="tabs" >
		<li><a href="/">Home</a></li>
		<li><a href="/personal">Personal</a></li>
		<li><a href="/professional">Professional</a></li>
		<!--
		<li><a href="/BUTTZ">BUTTZ</a></li>
		<li><a href="/LOLBUTTZ">LOLBUTTZ</a></li>
		-->
	</ul>
	<div class="horizontalrule">
	</div>
	
	{{ content }}
	
	
	</div>
  </body>
</html>